{% extends 'layouts/base.html.twig' %}

{% block title %}Nassima-Sophro
{% endblock %}

{% block body %}
<div class="bulles-container">

	{% include "layouts/partials/_navbar.html.twig" %}

	{# <img src="{{ asset('img/logo.png') }}" alt="" width="229" height="220"> #}

	<img class="logoBulles" src="{{ asset('img/logo.png') }}" alt="">

	<section class="home-container">
		<div class="title">
			<h1 class="title-home">Prends le temps d'évoluer ...</h1>
		</div>
		{# //////////////////////////////////////////////////// #}


		<div id="container">
			<div id="background-wrap">
				<div class="bubble x1"></div>
				<div class="bubble x2"></div>
				<div class="bubble x3"></div>
				<div class="bubble x4"></div>

				<div class="x5">
					<a href=""><img src="https://www.click4balloons.co.uk/ekmps/shops/click4/images/clear-deco-bubble-balloon-20-1pc-12298-p.png" alt=""></a>
				</div>

				<div class="bubble x6"></div>
				<div class="bubble x7"></div>
				<div class="bubble x8"></div>
				<div class="bubble x9"></div>
				<div class="bubble x10"></div>

			</div>

		</div>


	{# ///////////////////////////////////////////// #}

      {# 
    <a class="btn btn-three">
      <span>La Sophrologie</span>
    </a>
  #}
<div class="box-3">
	<a class="btn-three" href="{{ path('app_presentation') }}">La sophrologie</a>
	<a class="btn-three" href="{{ path('app_presentation') }}">L'hypnose</a>
 </div>





</div></section><ul class="medias">
<li class="media">
	<a href="#" target="_blank" rel="noopener"><img src="{{ asset('img/medias/facebook.svg') }}" alt="lien vers facebook" class="logo-media" title="Facebook"></a>
</li>
<li class="media">
	<a href="#" target="_blank" rel="noopener"><img src="{{ asset('img/medias/instagram.svg') }}" alt="lien vers instagram" class="logo-media" title="Instagram"></a>
</li>
<li class="media">
	<a href="#" target="_blank" rel="noopener"><img src="{{ asset('img/medias/pinterest.svg') }}" alt="lien vers pinterest" class="logo-media" title="Pinterest"></a>
</li>
<li class="media">
	<a href="#" target="_blank" rel="noopener"><img src="{{ asset('img/medias/youtube.svg') }}" alt="lien vers youtube" class="logo-media" title="Youtube"></a>
</li></ul>

</div>
{% endblock %}
