<footer>
	{# <p>Me suivre sur:</p>
		<ul class="mediaas">
			<li class="mediaa">
				<a href="#" target="_blank" rel="noopener"><img src="{{ asset('img/medias/instagram.svg') }}" alt="lien vers instagram" class="logo-media" title="Instagram"></a>
			</li>
			<li class="mediaa">
				<a href="#" target="_blank" rel="noopener"><img src="{{ asset('img/medias/pinterest.svg') }}" alt="lien vers pinterest" class="logo-media" title="Pinterest"></a>
			</li>
			<li class="mediaa">
				<a href="#" target="_blank" rel="noopener"><img src="{{ asset('img/medias/youtube.svg') }}" alt="lien vers youtube" class="logo-media" title="Youtube"></a>
			</li>
		</ul> #}


	<div class="container">




		<ul class="foote_bottom_ul_amrc">
			<li>
				<a href="{{ path('app_home') }}">Accueil</a>
			</li>
			<li>
				<a href="#">Vous & moi</a>
			</li>
			<li>
				<a href="#">Lis moi</a>
			</li>
			<li>
				<a href="#">Mes tarifs</a>
			</li>
			<li>
				<a href="{{ path('app_contact') }}">Contact</a>
			</li>
			<li>
				<a href="#">Mentions légales</a>
			</li>
		</ul>
		<!--foote_bottom_ul_amrc ends here-->
		<p class="text-center">Copyright @2021 | Designed With and by
			<a href="#">C3Soft.fr</a>
		</p>

		<ul class="social_footer_ul">
			<li>
				<a href="#">
					<i class="fab fa-facebook-f"></i>
				</a>
			</li>
			<li>
				<a href="#">
					<i class="fab fa-instagram"></i>
				</a>
			</li>
			<li>
				<a href="#">
					<i class="fab fa-pinterest"></i>
				</a>
			</li>
			<li>
				<a href="#">
					<i class="fab fa-youtube"></i>
				</a>
			</li>
		</ul>
		<!--social_footer_ul ends here-->
	</div>
</footer>
