<nav
	{# class="navbar navbar-expand-lg" id="mainNavbar"> #}
	<nav class="navbar navbar-expand-lg bg-transparent fixed-top" id="mainNavbar">
	<div class="container-fluid nav-home">
		{# <a class="navbar-brand" href="{{ path('app_home') }}">
			<img src="{{ asset('img/logoNav.svg') }}" alt="">
		</a> #}
		

	{# <a class="navbar-brand d-inline-block align-top" href="{{ path('app_home') }}"> 
		<img src="{{ asset('img/favicons/favicon-32x32.png') }}" alt="" width="32" height="32" class=""> #}
		{# <img src="{{ asset('img/logo.png') }}" alt="" width="129" height="120" class="d-inline-block align-top"> #}
		{# Prends le Temps <span class="experience">d'évoluer</span> 
		Accueil
    </a>#}
	
			{# <h1 class="main-title">Prends le temps d'évoluer ...</h1> #}



		<button class="navbar-toggler btn-hamburger" id="btnNav" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
			<div class="toggler-icon"></div>
			<div class="toggler-icon"></div>
			<div class="toggler-icon"></div>
		</button>
		<div class="collapse navbar-collapse" id="navbarTogglerDemo02">
			<ul class="navbar-nav ms-auto mb-2 mb-lg-0 me-5">
				<li class="navbar-home  nav-item me-2">
					<a class="nav-link" href="/">Accueil</a>
				</li>
				<li class="nav-item me-2">
					<a class="nav-link" href="#">Vous & moi</a>
				</li>
                <li class="nav-item me-2">
					<a class="nav-link" href="#">Lisez-moi</a>
				</li>
                <li class="nav-item me-2">
					<a class="nav-link" href="{{ path('app_contact') }}">Contactez-moi</a>
				</li>
				<li class="nav-item me-2">
					<a class="nav-link" href="#">Mes tarifs</a>
				</li>
				{# <li class="nav-item me-2">
					<a class="nav-link" href="#"><img class="icon-gif" src="{{ asset('img/cadeau.svg') }}" alt="Carte cadeaux"></a>
				</li> #}

				<li class="nav-item me-2">
					<a class="nav-link nav-gif" href="#">
						<svg class="icon-gif" enable-background="new 0 0 512 512" height="512" viewBox="0 0 512 512" width="512" xmlns="http://www.w3.org/2000/svg"><path d="m472 80h-80v-40c0-22.056-17.944-40-40-40-26.455 0-55.429 30.266-71.999 50.869-12.788-14.508-35.242-14.475-48.001 0-16.571-20.604-45.545-50.869-72-50.869-22.056 0-40 17.944-40 40v40h-80c-13.233 0-24 10.766-24 24v64c0 4.418 3.582 8 8 8h16v328c0 4.418 3.582 8 8 8h416c4.418 0 8-3.582 8-8v-328h16c4.418 0 8-3.582 8-8v-64c0-13.234-10.767-24-24-24zm-120-64c13.233 0 24 10.766 24 24v96c0 13.234-10.767 24-24 24-22.069 0-52.883-35.519-64.373-51.113.059-.384.104-.772.149-1.16 32.087 12.835 30.095 12.276 32.222 12.276 8.754 0 11.137-12.164 2.974-15.43l-34.972-13.989v-5.167l34.971-13.989c4.102-1.641 6.098-6.297 4.457-10.399s-6.298-6.098-10.399-4.457l-29.253 11.701c-.045-.389-.09-.778-.149-1.162 11.473-15.593 42.259-51.111 64.373-51.111zm-154.464 144c12.419-9.604 24.627-22.639 34.463-34.869 12.788 14.508 35.242 14.475 48.001 0 9.84 12.235 22.048 25.268 34.463 34.869-25.749 0-90.996 0-116.927 0zm58.464-104c8.822 0 16 7.177 16 16v32c0 8.823-7.178 16-16 16s-16-7.177-16-16c0-6.98 0-22.95 0-32 0-8.823 7.178-16 16-16zm-120-16c0-13.234 10.767-24 24-24 22.069 0 52.883 35.519 64.373 51.113-.059.384-.104.772-.149 1.16l-29.253-11.701c-4.103-1.641-8.758.354-10.399 4.457-1.641 4.102.354 8.758 4.457 10.399l34.971 13.988v5.167l-34.971 13.989c-4.102 1.641-6.098 6.297-4.457 10.399 1.636 4.09 6.286 6.103 10.399 4.457l29.253-11.701c.045.389.09.778.149 1.162-11.473 15.593-42.259 51.111-64.373 51.111-13.233 0-24-10.766-24-24 0-26.09 0-80.75 0-96zm-104 64c0-4.411 3.589-8 8-8h80v40c0 8.998 2.988 17.31 8.022 24-11.263 0-81.231 0-96.022 0zm24 72h144v320h-144zm160 320v-320h80v320zm240 0h-144v-320h144zm24-336c-14.784 0-84.344 0-96.022 0 5.034-6.69 8.022-15.002 8.022-24v-40h80c4.411 0 8 3.589 8 8z"/></svg>
					</a>
				</li>

			</ul>
		</div>
	</div>
</nav>
