{% extends 'layouts/base.html.twig' %}

{% block title %}Contact
{% endblock %}


{% block body %}
	{% include "layouts/partials/_navbar.html.twig" %}
	{# <img class="logo-heart" src="{{ asset('img/logo.png') }}" alt=""> #}
	<a href="{{ path('app_home') }}"><img class="logo-heart" src="{{ asset('img/logo.png') }}" alt="Logo du site prends le temps d'évoluer" title="Retour à l'accueil"></a>



<main>
{% include "layouts/partials/_toastContact.html.twig" %}
<img class="bg-contact" src="{{ asset('img/bg-contact.png') }}" alt="">
	{# <main class="bg-contact" style="background-image:url('{{ asset('img/bg-contact2.jpg') }}')"> #}
		<div class="container">


			<h1 class="title-contact">Prends le temps de me contacter...</h1>

			<div class="row-contact row mt-5">
				<div class="col-md-6">
					<h3 class="mb-5">Contacte-moi
						<img class="logo-media" src="{{ asset('img/icons/mail.svg') }}" alt=""></h3>


						{{ form_start(form) }}

							<div class="form-floating mb-5">
								{{ form_widget(form.email)}}
								{{ form_label(form.email)}}
							</div>
							<div class="mb-5">
								{{ form_widget(form.subject)}}
							</div>
							<div class="form-floating mb-5">
								{{ form_widget(form.message)}}
								{{ form_label(form.message)}}
							</div>
							<button class="btn btn-contact"><img class="logo-send" src="{{ asset('img/icons/send.svg') }}" alt="Envoyer le message">Poster le message</button>

						{{ form_end(form) }}

				</div>

				<div class="col-md-6">
					<div class="infos ms-5">
						<h3>Mes horaires
							<img class="logo-media" src="{{ asset('img/icons/clock.svg') }}" alt=""></h3>
						<table class="table mb-5">
							<thead>
								<tr>
									<th scope="col"></th>
									<th scope="col">Matin</th>
									<th scope="col">Après-midi</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>Lundi</td>
									<td>9h00-12h00</td>
									<td>14h00-18h00</td>
								</tr>
								<tr>
									<td>Mardi</td>
									<td>9h00-12h00</td>
									<td>14h00-18h00</td>
								</tr>
								<tr>
									<td>Mercredi</td>
									<td>9h00-12h00</td>
									<td>Fermé</td>
								</tr>
								<tr>
									<td>Jeudi</td>
									<td>9h00-12h00</td>
									<td>14h00-18h00</td>
								</tr>
								<tr>
									<td>Vendredi</td>
									<td>9h0012h00</td>
									<td>14h00-18h00</td>
								</tr>
								<tr>
									<td>Samedi</td>
									<td>9h00-12h00</td>
									<td>Fermé</td>
								</tr>

							</tbody>
						</table>

						<div class="row coordonee">
							<h3 class="mx-auto mb-5">Mes Coordonnées
								<img class="logo-media" src="{{ asset('img/icons/butterheart.svg') }}" alt=""></h3>

							<div class="col">
								<div class="row">
									<div class="col-sm-1 me-3">
										<img class="logo-media" src="{{ asset('img/icons/mail.svg') }}" alt="">
									</div>
									<div class="col">
										<p>Email</p>
									</div>
								</div>
								<p class="sublight">contact@prendsletempsdevoluer.com</p>
							</div>

							<div class="col">
								<div class="row">
									<div class="col-sm-1 me-3">
										<img class="logo-media" src="{{ asset('img/icons/phone.svg') }}" alt="">
									</div>
									<div class="col">
										<p>Téléphone</p>
									</div>
								</div>
								<p class="sublight">06 02 02 02 02</p>
							</div>
						</div>

					</div>
				</div>

			</div>

		{# </div> #}
		<section class="container mb-5">
			<h3>Je réserve ma séance
				<img class="logo-visio" src="{{ asset('img/icons/calendar.svg') }}" alt=""></h3>
			<div class="row reservation">

			<div class="col">
				<h4 class="mx-auto">Ma séance en visio-conférence.
					<img class="logo-media" src="{{ asset('img/icons/webcam.svg') }}" alt=""></h4>
				<p>La séance est la même qu'en présentiel, mais disponible du confort de chez vous ou partout ailleurs (chez un proche, au bureau, ...). Je vous propose une écoute, une attention et des techniques identiques à ce qui se fait en cabinet. Le maître mot de mes séances est la personnalisation. Je m'adapte à vos besoins et à votre environnement. L'hypnose et la sophrologie en ligne sont tout aussi efficace qu'en présentiel ! <button>En savoit plus...</button></p>
				
				{# <button class="btn btn-reserve"><img class="logo-media" src="{{ asset('img/icons/calendar.svg') }}" alt="Envoyer le message">Je réserve ma séance</button> #}
				<button class="btn btn-contact"><img class="logo-send" src="{{ asset('img/icons/calendar.svg') }}" alt="Envoyer le message">Je réserve ma séance</button>

			</div>
			</div>

		</section>
	</main>
</div>
{% include "layouts/partials/_footer.html.twig" %}
{% endblock %}

{# <div class="col">
	        {{ form_row(formView.name)}}
	       {{ form_label(formView.name)}}
	        {{ form_errors(formView.name)}}
	        {{ form_widget(formView.name)}}
	        {{ form_help(formView.name)}} 
	        {{ form_row(formView.shortDescription)}}
	    </div>#}
