{% extends 'layouts/base.html.twig' %}

{% block title %}Contact
{% endblock %}


{% block body %}
	{% include "layouts/partials/_navbar.html.twig" %}
	{# <img class="logo-heart" src="{{ asset('img/logo.png') }}" alt=""> #}
	<a href="{{ path('app_home') }}"><img class="logo-heart" src="{{ asset('img/logo.png') }}" alt="Logo du site prends le temps d'évoluer" title="Retour à l'accueil"></a>

	<main class="bg-contact" style="background-image:url('{{ asset('img/bg-contact2.jpg') }}')">
		<div class="container">
			<h1 class="title-contact">Prends le temps de me contacter...</h1>
			<div class="row-contact row mt-5">
				<div class="col-md-6">
					<h3 class="mb-5">Contacte-moi
						<img class="logo-media" src="{{ asset('img/icons/mail.svg') }}" alt=""></h3>

					<form action="">

						<div class="form-floating mb-5">
							<input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
							<label for="floatingInput">Votre email</label>

						</div>

						<div class="form-floating mb-5">
							<textarea class="form-control" placeholder="Laisse un commentaire" id="floatingTextarea" style="height: 200px"></textarea>
							<label for="floatingTextarea">Message</label>

						</div>

						<button class="btn btn-contact"><img class="logo-send" src="{{ asset('img/icons/send.svg') }}" alt="Envoyer le message">Poster le message</button>

					</form>
				</div>

				<div class="col-md-6">
					<div class="infos ms-5">
						<h3>Mes horaires
							<img class="logo-media" src="{{ asset('img/icons/clock.svg') }}" alt=""></h3>
						<table class="table mb-5">
							<thead>
								<tr>
									<th scope="col"></th>
									<th scope="col">Matin</th>
									<th scope="col">Après-midi</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>Lundi</td>
									<td>9h00-12h00</td>
									<td>14h00-18h00</td>
								</tr>
								<tr>
									<td>Mardi</td>
									<td>9h00-12h00</td>
									<td>14h00-18h00</td>
								</tr>
								<tr>
									<td>Mercredi</td>
									<td>9h00-12h00</td>
									<td>Fermé</td>
								</tr>
								<tr>
									<td>Jeudi</td>
									<td>9h00-12h00</td>
									<td>14h00-18h00</td>
								</tr>
								<tr>
									<td>Vendredi</td>
									<td>9h0012h00</td>
									<td>14h00-18h00</td>
								</tr>
								<tr>
									<td>Samedi</td>
									<td>9h00-12h00</td>
									<td>Fermé</td>
								</tr>

							</tbody>
						</table>

						<div class="row mt-5">
							<h3 class="mx-auto">Mes Coordonnées
								<img class="logo-media" src="{{ asset('img/icons/butterheart.svg') }}" alt=""></h3>

							<div class="col">
								<div class="row">
									<div class="col-sm-1 me-3">
										<img class="logo-media" src="{{ asset('img/icons/mail.svg') }}" alt="">
									</div>
									<div class="col">
										<p>Email</p>
									</div>
								</div>
								<p class="sublight">contact@prendsletempsdevoluer.com</p>
							</div>

							<div class="col">
								<div class="row">
									<div class="col-sm-1 me-3">
										<img class="logo-media" src="{{ asset('img/icons/phone.svg') }}" alt="">
									</div>
									<div class="col">
										<p>Téléphone</p>
									</div>
								</div>
								<p class="sublight">06 02 02 02 02</p>
							</div>
						</div>

					</div>
				</div>

			</div>

		</div>
		<section class="container mb-5">
			<h3>Je réserve ma séance
				<img class="logo-media" src="{{ asset('img/icons/calendar.svg') }}" alt=""></h3>
			<div class="row reservation">

			<div class="col">
				<h4 class="mx-auto">Je reserve en visio
					<img class="logo-media" src="{{ asset('img/icons/webcam.svg') }}" alt=""></h4>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque dicta tempore hic laborum velit aspernatur delectus quisquam eius! Quas consectetur, facere quibusdam quis veritatis, sed amet maxime ipsam porro esse, harum pariatur cumque dolores commodi? Deserunt quia repudiandae illo error eveniet delectus nostrum, voluptatibus, cupiditate, earum dignissimos non ab unde?</p>
				{# <button class="btn btn-reserve"><img class="logo-send" src="{{ asset('img/icons/webcam.svg') }}" alt="Envoyer le message">Reserver ma visio</button> #}

			</div>
			<div class="col">
				<h4 class="mx-auto">Je reserve en centre
					<img class="logo-media" src="{{ asset('img/icons/discussion.svg') }}" alt=""></h4>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque dicta tempore hic laborum velit aspernatur delectus quisquam eius! Quas consectetur, facere quibusdam quis veritatis, sed amet maxime ipsam porro esse, harum pariatur cumque dolores commodi? Deserunt quia repudiandae illo error eveniet delectus nostrum, voluptatibus, cupiditate, earum dignissimos non ab unde?</p>
				{# <button class="btn btn-reserve">Reserver</button> #}

			</div>

			</div>

		</section>
{% include "layouts/partials/_footer.html.twig" %}
	</main>

{% endblock %}

{# <div class="col">
	        {{ form_row(formView.name)}}
	       {{ form_label(formView.name)}}
	        {{ form_errors(formView.name)}}
	        {{ form_widget(formView.name)}}
	        {{ form_help(formView.name)}} 
	        {{ form_row(formView.shortDescription)}}
	    </div>#}
