{% extends 'layouts/base.html.twig' %}

{% block title %}Contact{% endblock %}


{% block body %}
{% include "layouts/partials/_navbar.html.twig" %}
	<img class="logo-heart" src="{{ asset('img/logo.png') }}" alt="">

	<main class="bg-contact" style="background-image:url('{{ asset('img/bg-contact2.jpg') }}')">
		<div class="container">
			<h1 class="title-contact">Prends le temps de me contacter...</h1>
			<div class="row-contact row mt-5">
				<div class="col-md-6">

					<form action="">

					<div class="form-floating mb-5">
						<label for="exampleFormControlInput1" class="form-label">Email address</label>
  <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">

					</div>

					<div class="form-floating mb-5">
						<label for="exampleFormControlTextarea1" class="form-label">Example textarea</label>
  <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>

					</div>

					<button class="btn btn-contact"><img class="logo-send" src="{{ asset('images/icons/send.svg') }}" alt="Envoyer le message">Poster</button>

					</form>
				</div>

                <div class="col-md-6">
                    <div class="infos ms-5">
                        <p class="info mb-5">Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium aliquam fugit corrupti assumenda facere tempore libero porro inventore voluptas nisi?</p>
                        <div class="row mb-5">
                            <div class="col-sm-1">
                                <img class="logo-media" src="{{ asset('images/icons/mail.svg') }}" alt="">
                            </div>
                            <div class="col">
                                <p>Email</p>
                            </div>
                            <p class="sublight">aaaaa.aa@aa.fr</p>
                        </div>

                        <div class="row mb-5">
                            <div class="col-sm-1">
                                <img class="logo-media" src="{{ asset('images/icons/phone.svg') }}" alt="">
                            </div>
                            <div class="col">
                                <p>Téléphone</p>
                            </div>
                            <p class="sublight">06 02 02 02 02</p>
                        </div>
                    </div>
                </div>

			</div>

		</div>
	</main>

{% endblock %}

{# <div class="col">
        {{ form_row(formView.name)}}
       {{ form_label(formView.name)}}
        {{ form_errors(formView.name)}}
        {{ form_widget(formView.name)}}
        {{ form_help(formView.name)}} 
        {{ form_row(formView.shortDescription)}}
    </div>#}