{% extends 'layouts/base.html.twig' %}

{% block title %}Contact
{% endblock %}


{% block body %}
	{% include "layouts/partials/_navbar.html.twig" %}
	<img class="logo-heart" src="{{ asset('img/logo.png') }}" alt="">

	<main class="bg-contact" style="background-image:url('{{ asset('img/bg-contact2.jpg') }}')">
		<div class="container">
			<h1 class="title-contact">Prends le temps de me contacter...</h1>
			<div class="row-contact row mt-5">
				<div class="col-md-6">
					<h3 class="mb-5">Contacte-moi</h3>
					<form action="">

						<div class="form-floating mb-5">
							<input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
							<label for="floatingInput">Ton email</label>

						</div>

						<div class="form-floating mb-5">
							<textarea class="form-control" placeholder="Laisse un commentaire" id="floatingTextarea" style="height: 200px"></textarea>
							<label for="floatingTextarea">Ton message</label>

						</div>

						<button class="btn btn-contact"><img class="logo-send" src="{{ asset('img/icons/send.svg') }}" alt="Envoyer le message">Poster le message</button>

					</form>
				</div>

				<div class="col-md-6">
					<div class="infos ms-5">
						<h3>Mes horraires</h3>
						<table class="table">
							<thead>
								<tr>
									<th scope="col"></th>
									<th scope="col">Matin</th>
									<th scope="col">Après-midi</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>Lundi</td>
									<td>9h00-12h00</td>
									<td>14h00-18h00</td>
								</tr>
								<tr>
									<td>Mardi</td>
									<td>9h00-12h00</td>
									<td>14h00-18h00</td>
								</tr>
								<tr>
									<td>Mercredi</td>
									<td>9h00-12h00</td>
									<td>Fermé</td>
								</tr>
								<tr>
									<td>Jeudi</td>
									<td>9h00-12h00</td>
									<td>14h00-18h00</td>
								</tr>
								<tr>
									<td>Vendredi</td>
									<td>9h0012h00</td>
									<td>14h00-18h00</td>
								</tr>
								<tr>
									<td>Samedi</td>
									<td>9h00-12h00</td>
									<td>Fermé</td>
								</tr>

							</tbody>
						</table>

						<div class="row mt-5">
							<h3 class="mx-auto">Mes Coordonées</h3>

							<div class="col">
								<div class="row">
									<div class="col-sm-1 me-3">
										<img class="logo-media" src="{{ asset('img/icons/mail.svg') }}" alt="">
									</div>
									<div class="col">
										<p>Email</p>
									</div>
								</div>
								<p class="sublight">contact@prendsletempsdevoluer.com</p>
							</div>

							<div class="col">
								<div class="row">
									<div class="col-sm-1 me-3">
										<img class="logo-media" src="{{ asset('img/icons/phone.svg') }}" alt="">
									</div>
									<div class="col">
										<p>Téléphone</p>
									</div>
								</div>
								<p class="sublight">06 02 02 02 02</p>
							</div>
						</div>

					</div>
				</div>

			</div>

		</div>
		<section class="container">
			<h3>Je réserve ma séance</h3>
			<div class="reservation">
				<button class="btn btn-contact"><img class="logo-send" src="{{ asset('img/icons/send.svg') }}" alt="Envoyer le message">Poster</button>
			</div>

		<a href=""></a>
		</section>
	</main>

{% endblock %}

{# <div class="col">
	        {{ form_row(formView.name)}}
	       {{ form_label(formView.name)}}
	        {{ form_errors(formView.name)}}
	        {{ form_widget(formView.name)}}
	        {{ form_help(formView.name)}} 
	        {{ form_row(formView.shortDescription)}}
	    </div>#}
